@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap');

body {
	color: #00000;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 15px;
	font-weight: 700;
	letter-spacing: 1px;
}

.avatar {
	width: 115px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	height: auto;
	max-width: 100px;
	border-radius: 50%;
	border: 2px solid #000000;
	box-shadow: 1px 1px #202020;
}

.name {
	width: 290px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
}

.desc {
	width: 315px;
	font-weight: 300;
	text-align: center;
	padding-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
}

.linkAdsTop {
	text-align: center;
	padding-bottom: 9px;
}

.linkAdsTopImg {
	width: 295px;
	border: 1px solid #000000;
	box-shadow: 1px 2px #202020;
}

.link {
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	margin-top: 20px;
	padding: 20px;
	border: 1px solid #000000;
	border-width: 2px;
	width: 290px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 40px;
	box-shadow: 2px 5px #202020;
}

.linkMulti {
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	margin-top: 20px;
	padding: 20px;
	border: 1px solid #000000;
	border-width: 2px;
	width: 290px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 40px;
	box-shadow: 2px 5px #202020;
}

.linkAds {
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	margin-top: 20px;
	padding: 20px;
	border: 1px solid #000000;
	border-width: 2px;
	width: 290px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 40px;
	box-shadow: 2px 5px #202020;
}

.linkAds img {
	width: 155px;
}

.linkDropped {
	display: none;
}

.link:hover {
	text-align: center;
	text-transform: uppercase;
	margin-top: 20px;
	width: 290px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.linkMulti:hover .linkDropped {
	display: block;
	font-size: 7px;
	text-align: center;
	text-transform: uppercase;
	margin-top: 20px;
	width: 290px;
	margin-left: auto;
	margin-right: auto;
}

a {
	text-decoration: none;
	color: #000000;
	transition: color 1s;
	-webkit-transition: color 1s;
	-moz-transition: color 1s;
}

.footerText {
    text-align: center;
    margin-top: 41px;
    font-size: 11px;
    font-weight: 300;
}

.link:hover {
	color: #ffffff;
	background: #cccccc;
	border-color: #707070;
	opacity: 0.9;
}

.linkMulti:hover {
	color: #ffffff;
	background: #cccccc;
	border-color: #707070;
	opacity: 0.9;
}

.linkMulti a:hover {
	color: #ffffff;
	opacity: 0.9;
}

.linkAds:hover {
	background: #2d942f;
	border-color: #2d942a;
	opacity: 0.9;
}